<div class="Home">
  <div class="home-menu">
    <app-menu></app-menu>
  </div>
  <div class="home-content">

    <app-card
    imagem="bt-1.jpg"
    Label="EXCLUSIVE"
    Price="RS:000"
    Type="DIGITAL | PS4"
    ></app-card>
    <app-card 
    imagem="bt-hardline.jpg"
    Label="DIGITAL"
    Price="RS:000"
    Type="DISC | PS5"
    ></app-card>
    <app-card
    imagem="bt-5.jpg"
    Label="DIGITAL"
    Price="RS:000"
    Type="DIGITAL | PS5"
     ></app-card>
    <app-card 
    imagem="ac-cover.jpg"
    Label="BEST OF YEAR"
    Price="RS:000"
    Type="DIGITAL | PS4"
    ></app-card>
    
  </div>
</div>


<router-outlet />
